<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceMoradaDaPaz" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:28254/ServiceMoradaDaPaz.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMoradaDaPaz"
                contract="Morada_da_paz_WebService.IServiceMoradaDaPaz" name="BasicHttpBinding_IServiceMoradaDaPaz" />
        </client>
    </system.serviceModel>
</configuration>